body {
    margin: 0;
    padding: 0;
    background: rgb(56, 126, 208);
  }
  
  h1 {
    font-family: "Crete Round", serif;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    color: white;
  }
  
  h2 {
    font-family: "Crete Round", serif;
    color: white;
  }
  
  h3 {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
  }
  
  h4 {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  
  p {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  
  .container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px 20%;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .hero {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .light {
    background: rgb(56, 126, 208);
    background: linear-gradient(
      90deg,
      rgba(56, 126, 208, 1) 0%,
      rgba(0, 203, 250, 1) 100%
    );
  }
  
  .vlight {
    color: black;
    background: white;
  }
  
  .hero-image {
    width: 300px;
    padding: 36px;
    border-bottom: 2px solid rgba(256, 256, 256, 0.3);
  }
  
  .dark {
    background: black;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .text-block-wide {
    padding: 8px;
    width: 100%;
  }
  
  .text-block {
    padding: 8px;
    width: 200px;
  }
  
  nav {
    width: 105%;
    height: 80px;
    background: rgb(0, 0, 0, 0.1);
    position: fixed;
    color: white;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  nav h2 {
    padding: 0px 30px;
  }
  
  .menubutton {
    font-family: "Crete Round", serif;
    color: white;
    text-decoration: none;
  }
  
  .menubutton::before {
    content: "";
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .menubutton:hover {
    color: rgb(177, 193, 211);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .linkhover {
    font-family: "Crete Round", serif;
    color: white;
    text-decoration: none;
  }
  
  .linkhover::before {
    content: "";
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .linkhover:hover {
    color: rgb(181, 178, 178);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .bodylinkhover {
    font-family: "Raleway", serif;
    color: white;
    text-decoration: none;
  }
  
  .bodylinkhover::before {
    content: "";
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .bodylinkhover:hover {
    color: rgb(181, 178, 178);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .nav-image {
    height: 45px;
    position: fixed;
    left: 20%;
    bottom: 1%;
  }
  
  .dark h1 {
    color: white;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 8px 16px;
  }
  
  .profile img {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
  }

  .textmenu .dropdown {
    position: absolute;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    bottom: 70px;
    background-color: white;
    width: 145px;
    margin-left: 0.6%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: "Crete Round", serif;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(177, 193, 211);
    transition: 0.3s;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
  }