body {
    margin: 0;
    padding: 0;
    background: rgb(56, 126, 208);
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
  }
  
  h1 {
    font-family: "Crete Round", serif;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    color: black;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: "Crete Round", serif;
    color: white;
  }
  
  h3 {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
  }
  
  h4 {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  
  p {
    font-family: "Crete Round", serif;
    color: black;
    padding: 0px;
    font-size: 15px;
    margin-bottom: 300px;
    margin-top: 0px;
    margin-left: 50px;
  }

  video {
    width: 80%;
    height: 80%;
    margin-top: 25px;
    margin-left: 55px;
  }

  
  .container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 5px 15%;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .hero {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .light {
    background: rgb(56, 126, 208);
    background: linear-gradient(
      90deg,
      rgba(56, 126, 208, 1) 0%,
      rgba(0, 203, 250, 1) 100%
    );
  }
  
  .vlight {
    color: black;
    background: white;
  }
  
  .hero-image {
    width: 300px;
    padding: 36px;
    border-bottom: 2px solid rgba(256, 256, 256, 0.3);
  }
  
  .dark {
    background: black;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .text-block-wide {
    padding: 8px;
    width: 100%;
  }
  
  .text-block {
    padding: 8px;
    width: 200px;
  }
  
  nav {
    width: 105%;
    height: 80px;
    background: rgba(20, 17, 17, 0.384);
    position: fixed;
    color: white;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  nav h2 {
    padding: 0px 30px;
  }
  
  .menubutton {
    font-family: "Crete Round", serif;
    color: white;
    text-decoration: none;
  }
  
  .menubutton::before {
    content: "";
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .menubutton:hover {
    color: rgb(177, 193, 211);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .linkhover {
    font-family: "Crete Round", serif;
    color: black;
    text-decoration: none;
  }
  
  .linkhover::before {
    content: "";
    position: absolute;
    font-family: "Crete Round", serif;
    color: black;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .linkhover:hover {
    color: rgb(181, 178, 178);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .bodylinkhover {
    font-family: "Crete Round", serif;
    color: black;
    text-decoration: underline;
  }
  
  .bodylinkhover::before {
    content: "";
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .bodylinkhover:hover {
    color: rgb(181, 178, 178);
    width: 100%;
    transform-origin: right;
    transition: 0.5s;
  }
  
  .nav-image {
    height: 45px;
    position: fixed;
    left: 20%;
    bottom: 1%;
  }
  
  .dark h1 {
    color: white;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 8px 16px;
  }
  
  .profile img {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
  }

